git-highlighter/dist/*
git-highlighter/node_modules/*
git-highlighter/*.vsix
git-highlighter/.vscode/settings.json
git-highlighter/commitLoadtest.txt
git-highlighter/prompt.txt
git-highlighter/src/merge_debug.txt
blame.txt
git-highlighter/src/notes.txt
